<%- include('./templates/head') %>

<%- include('./templates/navbar') %> 

    <h1>Welcome to the <%= 'node.js'.toUpperCase() %> </h1>
    <h2>We heartly invite the Express modules</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia nihil ipsam
         inventore dolor harum unde eligendi 
        rerum repellendus laboriosam doloribus at ullam veniam fuga, in nam labore ab consectetur. Rem!
    </p>
    <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima autem explicabo ipsa dolore quia illo suscipit veritatis assumenda dolor maiores iste, et, tenetur ea, tempore debitis optio laboriosam atque necessitatibus.

    </i></p>
</body>
</html>